In [9]:
# section 1 load all the necessary modules and packages
import glob
import time
import netCDF4 as nc4 
import numpy as np
import pandas as pd
import xarray as xr
# not neccessary for the function but for visualziation
import matplotlib.pyplot as plt
import warnings
import sys
import os
import platform
import shutil
# import pyviscous

In [10]:
def NSE(s,o):
    """
    Created on Thu Jan 20 15:36:37 2011
    @ author:                  Sat Kumar Tomer
    @ author's webpage:        http://civil.iisc.ernet.in/~satkumar/
    @ author's email id:       satkumartomer@gmail.com
    @ author's website:        www.ambhas.com

    Nash Sutcliffe efficiency coefficient
    input:
        s: simulated [time]
        o: observed [time]
    output:
        ns: Nash Sutcliffe efficient coefficient
    """
    s,o = filter_nan(s,o)
    return 1 - sum((s-o)**2)/sum((o-np.mean(o))**2)

def RMSE(s,o):
    """
    Created on Thu Jan 20 15:36:37 2011
    @ author:                  Sat Kumar Tomer
    @ author's webpage:        http://civil.iisc.ernet.in/~satkumar/
    @ author's email id:       satkumartomer@gmail.com
    @ author's website:        www.ambhas.com

    Nash Sutcliffe efficiency coefficient
    input:
        s: simulated [time]
        o: observed [time]
    output:
        ns: Nash Sutcliffe efficient coefficient
    """
    s,o = filter_nan(s,o)
    return ((sum((s-o)**2)/len(o))**0.5 )

def filter_nan(s,o):
    """
    Created on Thu Jan 20 15:36:37 2011
    @ author:                  Sat Kumar Tomer
    @ author's webpage:        http://civil.iisc.ernet.in/~satkumar/
    @ author's email id:       satkumartomer@gmail.com
    @ author's website:        www.ambhas.com

    this functions removed the data  from simulated and observed data
    whereever the observed data contains nan

    this is used by all other functions, otherwise they will produce nan as
    output
    """
    data = np.array([s.flatten(),o.flatten()])
    data = np.transpose(data)
    data = data[~np.isnan(data).any(1)]
    return data[:,0],data[:,1]

In [ ]:
#
# param = np.loadtxt('../mizuRoute_output_all/params.txt')
# obj_par = pd.DataFrame(param, columns=['HYP_Erate_emr',\
#                                        'HYP_Qrate_emr',\
#                                        'scale_factor_Ep_temp',\
#                                        'scale_factor_P_temp'])
obj_par = pd.read_csv("../mizuRoute_output_all/params.csv")

obj_par ['1_NSE'] = np.nan
obj_par ['RMSE'] = np.nan


# read the Dahitti data set
lake_elevation = pd.read_csv('../data/DAHITI_Data/Lake_Victoria.csv')
lake_elevation['date']  = pd.DatetimeIndex(lake_elevation['date'])
lake_elevation = lake_elevation.set_index('date')


file_names = sorted(glob.glob('../mizuRoute_output_all/sim_0*.nc'))

m = 0

for file_name in file_names:
    
    print(m)
    
    ds = xr.open_dataset(file_name)
    
    ds['ele_sim'] = ds['IRFvolume'].copy()
    ds['ele_sim'][:] = ds['ele_sim'][:]/(68800*10**6)
    ds['ele_sim'][:] = ds['ele_sim'][:] + 1122.86
    
    # calculate objective function
    df = ds['ele_sim'][:,1].to_dataframe()
    lake_elevation_reindex = lake_elevation.copy()
    lake_elevation_reindex = lake_elevation_reindex.reindex(df.index)
    
    print(lake_elevation_reindex)
    print(df)
    
    df['ele_obs'] = np.nan
    df['ele_obs'] = lake_elevation_reindex['water_level'].values
    
    #
    obj_par['1_NSE'].iloc[m] = 1 - NSE(df['ele_sim'].values,df['ele_obs'].values)
    obj_par['RMSE'].iloc[m] = RMSE(df['ele_sim'].values,df['ele_obs'].values)
    
    
    m = m + 1
    
obj_par.to_csv('../mizuRoute_output_all/obj_par.csv')

0
            water_level  error
time
2000-01-01          NaN    NaN
2000-01-02          NaN    NaN
2000-01-03          NaN    NaN
2000-01-04          NaN    NaN
2000-01-05          NaN    NaN
...                 ...    ...
2013-12-27          NaN    NaN
2013-12-28          NaN    NaN
2013-12-29          NaN    NaN
2013-12-30     1135.294    0.0
2013-12-31          NaN    NaN

[5114 rows x 2 columns]
                ele_sim
time
2000-01-01  1135.849609
2000-01-02  1135.845703
2000-01-03  1135.844116
2000-01-04  1135.839966
2000-01-05  1135.834961
...                 ...
2013-12-27  1136.708618
2013-12-28  1136.704590
2013-12-29  1136.702881
2013-12-30  1136.712280
2013-12-31  1136.728882

[5114 rows x 1 columns]
1
            water_level  error
time
2000-01-01          NaN    NaN
2000-01-02          NaN    NaN
2000-01-03          NaN    NaN
2000-01-04          NaN    NaN
2000-01-05          NaN    NaN
...                 ...    ...
2013-12-27          NaN    NaN
2013-12-28          NaN    NaN
2013-12-29          NaN    NaN
2013-12-30     1135.294    0.0
2013-12-31          NaN    NaN

[5114 rows x 2 columns]
                ele_sim
time
2000-01-01  1135.847290
2000-01-02  1135.841064
2000-01-03  1135.837891
2000-01-04  1135.831787
2000-01-05  1135.824463
...                 ...
2013-12-27  1135.589233
2013-12-28  1135.584961
2013-12-29  1135.583130
2013-12-30  1135.595337
2013-12-31  1135.615723

[5114 rows x 1 columns]
2
            water_level  error
time
2000-01-01          NaN    NaN
2000-01-02          NaN    NaN
2000-01-03          NaN    NaN
2000-01-04          NaN    NaN
2000-01-05          NaN    NaN
...                 ...    ...
2013-12-27          NaN    NaN
2013-12-28          NaN    NaN
2013-12-29          NaN    NaN
2013-12-30     1135.294    0.0
2013-12-31          NaN    NaN

[5114 rows x 2 columns]
                ele_sim
time
2000-01-01  1135.848999
2000-01-02  1135.844360
2000-01-03  1135.841797
2000-01-04  1135.837036
2000-01-05  1135.831421
...                 ...
2013-12-27  1135.485962
2013-12-28  1135.482300
2013-12-29  1135.480713
2013-12-30  1135.488159
2013-12-31  1135.502563

[5114 rows x 1 columns]
3
            water_level  error
time
2000-01-01          NaN    NaN
2000-01-02          NaN    NaN
2000-01-03          NaN    NaN
2000-01-04          NaN    NaN
2000-01-05          NaN    NaN
...                 ...    ...
2013-12-27          NaN    NaN
2013-12-28          NaN    NaN
2013-12-29          NaN    NaN
2013-12-30     1135.294    0.0
2013-12-31          NaN    NaN

[5114 rows x 2 columns]
                ele_sim
time
2000-01-01  1135.835327
2000-01-02  1135.817383
2000-01-03  1135.802246
2000-01-04  1135.784424
2000-01-05  1135.765625
...                 ...
2013-12-27  1133.172974
2013-12-28  1133.168823
2013-12-29  1133.167358
2013-12-30  1133.178955
2013-12-31  1133.198364

[5114 rows x 1 columns]
4
            water_level  error
time
2000-01-01          NaN    NaN
2000-01-02          NaN    NaN
2000-01-03          NaN    NaN
2000-01-04          NaN    NaN
2000-01-05          NaN    NaN
...                 ...    ...
2013-12-27          NaN    NaN
2013-12-28          NaN    NaN
2013-12-29          NaN    NaN
2013-12-30     1135.294    0.0
2013-12-31          NaN    NaN

[5114 rows x 2 columns]
                ele_sim
time
2000-01-01  1135.847778
2000-01-02  1135.842163
2000-01-03  1135.839111
2000-01-04  1135.833374
2000-01-05  1135.826660
...                 ...
2013-12-27  1135.524536
2013-12-28  1135.520386
2013-12-29  1135.518677
2013-12-30  1135.529175
2013-12-31  1135.547241

[5114 rows x 1 columns]
5
            water_level  error
time
2000-01-01          NaN    NaN
2000-01-02          NaN    NaN
2000-01-03          NaN    NaN
2000-01-04          NaN    NaN
2000-01-05          NaN    NaN
...                 ...    ...
2013-12-27          NaN    NaN
2013-12-28          NaN    NaN
2013-12-29          NaN    NaN
2013-12-30     1135.294    0.0
2013-12-31          NaN    NaN

[5114 rows x 2 columns]
                ele_sim
time
2000-01-01  1135.821777
2000-01-02  1135.790405
2000-01-03  1135.761475
2000-01-04  1135.730835
2000-01-05  1135.699829
...                 ...
2013-12-27  1132.694580
2013-12-28  1132.691040
2013-12-29  1132.689819
2013-12-30  1132.697632
2013-12-31  1132.711792

[5114 rows x 1 columns]
6
            water_level  error
time
2000-01-01          NaN    NaN
2000-01-02          NaN    NaN
2000-01-03          NaN    NaN
2000-01-04          NaN    NaN
2000-01-05          NaN    NaN
...                 ...    ...
2013-12-27          NaN    NaN
2013-12-28          NaN    NaN
2013-12-29          NaN    NaN
2013-12-30     1135.294    0.0
2013-12-31          NaN    NaN

[5114 rows x 2 columns]
                ele_sim
time
2000-01-01  1135.848389
2000-01-02  1135.843506
2000-01-03  1135.841431
2000-01-04  1135.836304
2000-01-05  1135.830078
...                 ...
2013-12-27  1137.734741
2013-12-28  1137.730469
2013-12-29  1137.729004
2013-12-30  1137.741333
2013-12-31  1137.761597

[5114 rows x 1 columns]
7
            water_level  error
time
2000-01-01          NaN    NaN
2000-01-02          NaN    NaN
2000-01-03          NaN    NaN
2000-01-04          NaN    NaN
2000-01-05          NaN    NaN
...                 ...    ...
2013-12-27          NaN    NaN
2013-12-28          NaN    NaN
2013-12-29          NaN    NaN
2013-12-30     1135.294    0.0
2013-12-31          NaN    NaN

[5114 rows x 2 columns]
                ele_sim
time
2000-01-01  1135.841431
2000-01-02  1135.829468
2000-01-03  1135.820068
2000-01-04  1135.807983
2000-01-05  1135.795166
...                 ...
2013-12-27  1133.850464
2013-12-28  1133.846558
2013-12-29  1133.844971
2013-12-30  1133.855347
2013-12-31  1133.873169

[5114 rows x 1 columns]
8
            water_level  error
time
2000-01-01          NaN    NaN
2000-01-02          NaN    NaN
2000-01-03          NaN    NaN
2000-01-04          NaN    NaN
2000-01-05          NaN    NaN
...                 ...    ...
2013-12-27          NaN    NaN
2013-12-28          NaN    NaN
2013-12-29          NaN    NaN
2013-12-30     1135.294    0.0
2013-12-31          NaN    NaN

[5114 rows x 2 columns]
                ele_sim
time
2000-01-01  1135.847290
2000-01-02  1135.840820
2000-01-03  1135.836182
2000-01-04  1135.829590
2000-01-05  1135.822266
...                 ...
2013-12-27  1134.706421
2013-12-28  1134.703003
2013-12-29  1134.701416
2013-12-30  1134.708252
2013-12-31  1134.721802

[5114 rows x 1 columns]
9
            water_level  error
time
2000-01-01          NaN    NaN
2000-01-02          NaN    NaN
2000-01-03          NaN    NaN
2000-01-04          NaN    NaN
2000-01-05          NaN    NaN
...                 ...    ...
2013-12-27          NaN    NaN
2013-12-28          NaN    NaN
2013-12-29          NaN    NaN
2013-12-30     1135.294    0.0
2013-12-31          NaN    NaN

[5114 rows x 2 columns]
                ele_sim
time
2000-01-01  1135.847900
2000-01-02  1135.842407
2000-01-03  1135.839233
2000-01-04  1135.833496
2000-01-05  1135.826782
...                 ...
2013-12-27  1135.390747
2013-12-28  1135.386597
2013-12-29  1135.385010
2013-12-30  1135.395020
2013-12-31  1135.412354

[5114 rows x 1 columns]
10
            water_level  error
time
2000-01-01          NaN    NaN
2000-01-02          NaN    NaN
2000-01-03          NaN    NaN
2000-01-04          NaN    NaN
2000-01-05          NaN    NaN
...                 ...    ...
2013-12-27          NaN    NaN
2013-12-28          NaN    NaN
2013-12-29          NaN    NaN
2013-12-30     1135.294    0.0
2013-12-31          NaN    NaN

[5114 rows x 2 columns]
                ele_sim
time
2000-01-01  1135.848633
2000-01-02  1135.843994
2000-01-03  1135.842285
2000-01-04  1135.837402
2000-01-05  1135.831543
...                 ...
2013-12-27  1137.517700
2013-12-28  1137.513184
2013-12-29  1137.511353
2013-12-30  1137.523926
2013-12-31  1137.544434

[5114 rows x 1 columns]
11
            water_level  error
time
2000-01-01          NaN    NaN
2000-01-02          NaN    NaN
2000-01-03          NaN    NaN
2000-01-04          NaN    NaN
2000-01-05          NaN    NaN
...                 ...    ...
2013-12-27          NaN    NaN
2013-12-28          NaN    NaN
2013-12-29          NaN    NaN
2013-12-30     1135.294    0.0
2013-12-31          NaN    NaN

[5114 rows x 2 columns]
                ele_sim
time
2000-01-01  1135.850708
2000-01-02  1135.848022
2000-01-03  1135.848511
2000-01-04  1135.846069
2000-01-05  1135.842285
...                 ...
2013-12-27  1140.285400
2013-12-28  1140.281006
2013-12-29  1140.279053
2013-12-30  1140.291992
2013-12-31  1140.313599

[5114 rows x 1 columns]
12

            water_level  error
time
2000-01-01          NaN    NaN
2000-01-02          NaN    NaN
2000-01-03          NaN    NaN
2000-01-04          NaN    NaN
2000-01-05          NaN    NaN
...                 ...    ...
2013-12-27          NaN    NaN
2013-12-28          NaN    NaN
2013-12-29          NaN    NaN
2013-12-30     1135.294    0.0
2013-12-31          NaN    NaN

[5114 rows x 2 columns]
                ele_sim
time
2000-01-01  1135.848999
2000-01-02  1135.844482
2000-01-03  1135.841919
2000-01-04  1135.837036
2000-01-05  1135.831299
...                 ...
2013-12-27  1135.746582
2013-12-28  1135.742676
2013-12-29  1135.741211
2013-12-30  1135.749634
2013-12-31  1135.764771

[5114 rows x 1 columns]
13
            water_level  error
time
2000-01-01          NaN    NaN
2000-01-02          NaN    NaN
2000-01-03          NaN    NaN
2000-01-04          NaN    NaN
2000-01-05          NaN    NaN
...                 ...    ...
2013-12-27          NaN    NaN
2013-12-28          NaN    NaN
2013-12-29          NaN    NaN
2013-12-30     1135.294    0.0
2013-12-31          NaN    NaN

[5114 rows x 2 columns]
                ele_sim
time
2000-01-01  1135.849365
2000-01-02  1135.845215
2000-01-03  1135.842651
2000-01-04  1135.838013
2000-01-05  1135.832520
...                 ...
2013-12-27  1135.332275
2013-12-28  1135.328613
2013-12-29  1135.327271
2013-12-30  1135.334595
2013-12-31  1135.348022

[5114 rows x 1 columns]
14
            water_level  error
time
2000-01-01          NaN    NaN
2000-01-02          NaN    NaN
2000-01-03          NaN    NaN
2000-01-04          NaN    NaN
2000-01-05          NaN    NaN
...                 ...    ...
2013-12-27          NaN    NaN
2013-12-28          NaN    NaN
2013-12-29          NaN    NaN
2013-12-30     1135.294    0.0
2013-12-31          NaN    NaN

[5114 rows x 2 columns]
                ele_sim
time
2000-01-01  1135.839355
2000-01-02  1135.825439
2000-01-03  1135.814697
2000-01-04  1135.801147
2000-01-05  1135.786499
...                 ...
2013-12-27  1134.277832
2013-12-28  1134.274048
2013-12-29  1134.272583
2013-12-30  1134.285889
2013-12-31  1134.307861

[5114 rows x 1 columns]
15
            water_level  error
time
2000-01-01          NaN    NaN
2000-01-02          NaN    NaN
2000-01-03          NaN    NaN
2000-01-04          NaN    NaN
2000-01-05          NaN    NaN
...                 ...    ...
2013-12-27          NaN    NaN
2013-12-28          NaN    NaN
2013-12-29          NaN    NaN
2013-12-30     1135.294    0.0
2013-12-31          NaN    NaN

[5114 rows x 2 columns]
                ele_sim
time
2000-01-01  1135.843628
2000-01-02  1135.833984
2000-01-03  1135.827393
2000-01-04  1135.817627
2000-01-05  1135.806763
...                 ...
2013-12-27  1134.352173
2013-12-28  1134.347534
2013-12-29  1134.345825
2013-12-30  1134.359131
2013-12-31  1134.380493

[5114 rows x 1 columns]
16
            water_level  error
time
2000-01-01          NaN    NaN
2000-01-02          NaN    NaN
2000-01-03          NaN    NaN
2000-01-04          NaN    NaN
2000-01-05          NaN    NaN
...                 ...    ...
2013-12-27          NaN    NaN
2013-12-28          NaN    NaN
2013-12-29          NaN    NaN
2013-12-30     1135.294    0.0
2013-12-31          NaN    NaN

[5114 rows x 2 columns]
                ele_sim
time
2000-01-01  1135.820435
2000-01-02  1135.788086
2000-01-03  1135.759277
2000-01-04  1135.727905
2000-01-05  1135.695923
...                 ...
2013-12-27  1132.972168
2013-12-28  1132.968140
2013-12-29  1132.966797
2013-12-30  1132.980225
2013-12-31  1133.001831

[5114 rows x 1 columns]
17
            water_level  error
time
2000-01-01          NaN    NaN
2000-01-02          NaN    NaN
2000-01-03          NaN    NaN
2000-01-04          NaN    NaN
2000-01-05          NaN    NaN
...                 ...    ...
2013-12-27          NaN    NaN
2013-12-28          NaN    NaN
2013-12-29          NaN    NaN
2013-12-30     1135.294    0.0
2013-12-31          NaN    NaN

[5114 rows x 2 columns]
                ele_sim
time
2000-01-01  1135.847778
2000-01-02  1135.841797
2000-01-03  1135.837402
2000-01-04  1135.830933
2000-01-05  1135.823853
...                 ...
2013-12-27  1132.796021
2013-12-28  1132.792236
2013-12-29  1132.790894
2013-12-30  1132.797119
2013-12-31  1132.808960

[5114 rows x 1 columns]
18
            water_level  error
time
2000-01-01          NaN    NaN
2000-01-02          NaN    NaN
2000-01-03          NaN    NaN
2000-01-04          NaN    NaN
2000-01-05          NaN    NaN
...                 ...    ...
2013-12-27          NaN    NaN
2013-12-28          NaN    NaN
2013-12-29          NaN    NaN
2013-12-30     1135.294    0.0
2013-12-31          NaN    NaN

[5114 rows x 2 columns]
                ele_sim
time
2000-01-01  1135.850586
2000-01-02  1135.847412
2000-01-03  1135.845825
2000-01-04  1135.842407
2000-01-05  1135.838257
...                 ...
2013-12-27  1135.977051
2013-12-28  1135.973633
2013-12-29  1135.972168
2013-12-30  1135.977783
2013-12-31  1135.989624

[5114 rows x 1 columns]
19
            water_level  error
time
2000-01-01          NaN    NaN
2000-01-02          NaN    NaN
2000-01-03          NaN    NaN
2000-01-04          NaN    NaN
2000-01-05          NaN    NaN
...                 ...    ...
2013-12-27          NaN    NaN
2013-12-28          NaN    NaN
2013-12-29          NaN    NaN
2013-12-30     1135.294    0.0
2013-12-31          NaN    NaN

[5114 rows x 2 columns]
                ele_sim
time
2000-01-01  1135.838013
2000-01-02  1135.822632
2000-01-03  1135.808960
2000-01-04  1135.793335
2000-01-05  1135.777100
...                 ...
2013-12-27  1133.171753
2013-12-28  1133.168091
2013-12-29  1133.166748
2013-12-30  1133.173828
2013-12-31  1133.186890

[5114 rows x 1 columns]
20
            water_level  error
time
2000-01-01          NaN    NaN
2000-01-02          NaN    NaN
2000-01-03          NaN    NaN
2000-01-04          NaN    NaN
2000-01-05          NaN    NaN
...                 ...    ...
2013-12-27          NaN    NaN
2013-12-28          NaN    NaN
2013-12-29          NaN    NaN
2013-12-30     1135.294    0.0
2013-12-31          NaN    NaN

[5114 rows x 2 columns]
                ele_sim
time
2000-01-01  1135.849731
2000-01-02  1135.846069
2000-01-03  1135.845337
2000-01-04  1135.841553
2000-01-05  1135.836670
...                 ...
2013-12-27  1143.429565
2013-12-28  1143.426147
2013-12-29  1143.425537
2013-12-30  1143.439331
2013-12-31  1143.461182

[5114 rows x 1 columns]
21
            water_level  error
time
2000-01-01          NaN    NaN
2000-01-02          NaN    NaN
2000-01-03          NaN    NaN
2000-01-04          NaN    NaN
2000-01-05          NaN    NaN
...                 ...    ...
2013-12-27          NaN    NaN
2013-12-28          NaN    NaN
2013-12-29          NaN    NaN
2013-12-30     1135.294    0.0
2013-12-31          NaN    NaN

[5114 rows x 2 columns]
                ele_sim
time
2000-01-01  1135.850342
2000-01-02  1135.847168
2000-01-03  1135.845581
2000-01-04  1135.841919
2000-01-05  1135.837646
...                 ...
2013-12-27  1136.328857
2013-12-28  1136.325317
2013-12-29  1136.323730
2013-12-30  1136.330444
2013-12-31  1136.343506

[5114 rows x 1 columns]
22
            water_level  error
time
2000-01-01          NaN    NaN
2000-01-02          NaN    NaN
2000-01-03          NaN    NaN
2000-01-04          NaN    NaN
2000-01-05          NaN    NaN
...                 ...    ...
2013-12-27          NaN    NaN
2013-12-28          NaN    NaN
2013-12-29          NaN    NaN
2013-12-30     1135.294    0.0
2013-12-31          NaN    NaN

[5114 rows x 2 columns]
                ele_sim
time
2000-01-01  1135.833374
2000-01-02  1135.813477
2000-01-03  1135.796631
2000-01-04  1135.776978
2000-01-05  1135.756592
...                 ...
2013-12-27  1133.439331
2013-12-28  1133.435303
2013-12-29  1133.433960
2013-12-30  1133.446167
2013-12-31  1133.466431

[5114 rows x 1 columns]
23
            water_level  error
time
2000-01-01          NaN    NaN
2000-01-02          NaN    NaN
2000-01-03          NaN    NaN
2000-01-04          NaN    NaN
2000-01-05          NaN    NaN
...                 ...    ...
2013-12-27          NaN    NaN
2013-12-28          NaN    NaN
2013-12-29          NaN    NaN
2013-12-30     1135.294    0.0
2013-12-31          NaN    NaN

[5114 rows x 2 columns]
                ele_sim
time
2000-01-01  1135.840210
2000-01-02  1135.827271
2000-01-03  1135.817383
2000-01-04  1135.804443
2000-01-05  1135.790527
...                 ...
2013-12-27  1133.963989
2013-12-28  1133.959839
2013-12-29  1133.958130
2013-12-30  1133.971313
2013-12-31  1133.992798

[5114 rows x 1 columns]
24

            water_level  error
time
2000-01-01          NaN    NaN
2000-01-02          NaN    NaN
2000-01-03          NaN    NaN
2000-01-04          NaN    NaN
2000-01-05          NaN    NaN
...                 ...    ...
2013-12-27          NaN    NaN
2013-12-28          NaN    NaN
2013-12-29          NaN    NaN
2013-12-30     1135.294    0.0
2013-12-31          NaN    NaN

[5114 rows x 2 columns]
                ele_sim
time
2000-01-01  1135.853882
2000-01-02  1135.854126
2000-01-03  1135.857544
2000-01-04  1135.858154
2000-01-05  1135.857544
...                 ...
2013-12-27  1155.216187
2013-12-28  1155.214600
2013-12-29  1155.215332
2013-12-30  1155.229614
2013-12-31  1155.252563

[5114 rows x 1 columns]
25
            water_level  error
time
2000-01-01          NaN    NaN
2000-01-02          NaN    NaN
2000-01-03          NaN    NaN
2000-01-04          NaN    NaN
2000-01-05          NaN    NaN
...                 ...    ...
2013-12-27          NaN    NaN
2013-12-28          NaN    NaN
2013-12-29          NaN    NaN
2013-12-30     1135.294    0.0
2013-12-31          NaN    NaN

[5114 rows x 2 columns]
                ele_sim
time
2000-01-01  1135.844238
2000-01-02  1135.835205
2000-01-03  1135.829102
2000-01-04  1135.820068
2000-01-05  1135.809814
...                 ...
2013-12-27  1134.583252
2013-12-28  1134.578857
2013-12-29  1134.577148
2013-12-30  1134.589966
2013-12-31  1134.610962

[5114 rows x 1 columns]
26
            water_level  error
time
2000-01-01          NaN    NaN
2000-01-02          NaN    NaN
2000-01-03          NaN    NaN
2000-01-04          NaN    NaN
2000-01-05          NaN    NaN
...                 ...    ...
2013-12-27          NaN    NaN
2013-12-28          NaN    NaN
2013-12-29          NaN    NaN
2013-12-30     1135.294    0.0
2013-12-31          NaN    NaN

[5114 rows x 2 columns]
                ele_sim
time
2000-01-01  1135.851562
2000-01-02  1135.849365
2000-01-03  1135.848633
2000-01-04  1135.846069
2000-01-05  1135.842896
...                 ...
2013-12-27  1137.241333
2013-12-28  1137.237915
2013-12-29  1137.236450
2013-12-30  1137.242065
2013-12-31  1137.253662

[5114 rows x 1 columns]
27
            water_level  error
time
2000-01-01          NaN    NaN
2000-01-02          NaN    NaN
2000-01-03          NaN    NaN
2000-01-04          NaN    NaN
2000-01-05          NaN    NaN
...                 ...    ...
2013-12-27          NaN    NaN
2013-12-28          NaN    NaN
2013-12-29          NaN    NaN
2013-12-30     1135.294    0.0
2013-12-31          NaN    NaN

[5114 rows x 2 columns]
                ele_sim
time
2000-01-01  1135.839966
2000-01-02  1135.826416
2000-01-03  1135.815063
2000-01-04  1135.801147
2000-01-05  1135.786621
...                 ...
2013-12-27  1132.322632
2013-12-28  1132.318604
2013-12-29  1132.317017
2013-12-30  1132.326172
2013-12-31  1132.341797

[5114 rows x 1 columns]
28
            water_level  error
time
2000-01-01          NaN    NaN
2000-01-02          NaN    NaN
2000-01-03          NaN    NaN
2000-01-04          NaN    NaN
2000-01-05          NaN    NaN
...                 ...    ...
2013-12-27          NaN    NaN
2013-12-28          NaN    NaN
2013-12-29          NaN    NaN
2013-12-30     1135.294    0.0
2013-12-31          NaN    NaN

[5114 rows x 2 columns]
                ele_sim
time
2000-01-01  1135.851685
2000-01-02  1135.849854
2000-01-03  1135.849487
2000-01-04  1135.847290
2000-01-05  1135.844360
...                 ...
2013-12-27  1139.266479
2013-12-28  1139.263062
2013-12-29  1139.261841
2013-12-30  1139.268677
2013-12-31  1139.281738

[5114 rows x 1 columns]
29
            water_level  error
time
2000-01-01          NaN    NaN
2000-01-02          NaN    NaN
2000-01-03          NaN    NaN
2000-01-04          NaN    NaN
2000-01-05          NaN    NaN
...                 ...    ...
2013-12-27          NaN    NaN
2013-12-28          NaN    NaN
2013-12-29          NaN    NaN
2013-12-30     1135.294    0.0
2013-12-31          NaN    NaN

[5114 rows x 2 columns]
                ele_sim
time
2000-01-01  1135.850952
2000-01-02  1135.848389
2000-01-03  1135.848145
2000-01-04  1135.845337
2000-01-05  1135.841797
...                 ...
2013-12-27  1139.434204
2013-12-28  1139.430420
2013-12-29  1139.428955
2013-12-30  1139.438110
2013-12-31  1139.454468

[5114 rows x 1 columns]
30
            water_level  error
time
2000-01-01          NaN    NaN
2000-01-02          NaN    NaN
2000-01-03          NaN    NaN
2000-01-04          NaN    NaN
2000-01-05          NaN    NaN
...                 ...    ...
2013-12-27          NaN    NaN
2013-12-28          NaN    NaN
2013-12-29          NaN    NaN
2013-12-30     1135.294    0.0
2013-12-31          NaN    NaN

[5114 rows x 2 columns]
                ele_sim
time
2000-01-01  1135.851440
2000-01-02  1135.849487
2000-01-03  1135.850464
2000-01-04  1135.848511
2000-01-05  1135.845459
...                 ...
2013-12-27  1144.135864
2013-12-28  1144.132080
2013-12-29  1144.130737
2013-12-30  1144.143188
2013-12-31  1144.164062

[5114 rows x 1 columns]
31
            water_level  error
time
2000-01-01          NaN    NaN
2000-01-02          NaN    NaN
2000-01-03          NaN    NaN
2000-01-04          NaN    NaN
2000-01-05          NaN    NaN
...                 ...    ...
2013-12-27          NaN    NaN
2013-12-28          NaN    NaN
2013-12-29          NaN    NaN
2013-12-30     1135.294    0.0
2013-12-31          NaN    NaN

[5114 rows x 2 columns]
                ele_sim
time
2000-01-01  1135.846558
2000-01-02  1135.839600
2000-01-03  1135.834839
2000-01-04  1135.827759
2000-01-05  1135.819824
...                 ...
2013-12-27  1134.849487
2013-12-28  1134.845581
2013-12-29  1134.843994
2013-12-30  1134.853394
2013-12-31  1134.869995

[5114 rows x 1 columns]
32
            water_level  error
time
2000-01-01          NaN    NaN
2000-01-02          NaN    NaN
2000-01-03          NaN    NaN
2000-01-04          NaN    NaN
2000-01-05          NaN    NaN
...                 ...    ...
2013-12-27          NaN    NaN
2013-12-28          NaN    NaN
2013-12-29          NaN    NaN
2013-12-30     1135.294    0.0
2013-12-31          NaN    NaN

[5114 rows x 2 columns]
                ele_sim
time
2000-01-01  1135.848145
2000-01-02  1135.842651
2000-01-03  1135.839233
2000-01-04  1135.833740
2000-01-05  1135.827271
...                 ...
2013-12-27  1135.199219
2013-12-28  1135.195557
2013-12-29  1135.193970
2013-12-30  1135.202026
2013-12-31  1135.217041

[5114 rows x 1 columns]
33
            water_level  error
time
2000-01-01          NaN    NaN
2000-01-02          NaN    NaN
2000-01-03          NaN    NaN
2000-01-04          NaN    NaN
2000-01-05          NaN    NaN
...                 ...    ...
2013-12-27          NaN    NaN
2013-12-28          NaN    NaN
2013-12-29          NaN    NaN
2013-12-30     1135.294    0.0
2013-12-31          NaN    NaN

[5114 rows x 2 columns]
                ele_sim
time
2000-01-01  1135.838623
2000-01-02  1135.823853
2000-01-03  1135.811157
2000-01-04  1135.796265
2000-01-05  1135.780640
...                 ...
2013-12-27  1133.411987
2013-12-28  1133.408081
2013-12-29  1133.406616
2013-12-30  1133.415771
2013-12-31  1133.431763

[5114 rows x 1 columns]
34
            water_level  error
time
2000-01-01          NaN    NaN
2000-01-02          NaN    NaN
2000-01-03          NaN    NaN
2000-01-04          NaN    NaN
2000-01-05          NaN    NaN
...                 ...    ...
2013-12-27          NaN    NaN
2013-12-28          NaN    NaN
2013-12-29          NaN    NaN
2013-12-30     1135.294    0.0
2013-12-31          NaN    NaN

[5114 rows x 2 columns]
                ele_sim
time
2000-01-01  1135.848877
2000-01-02  1135.844360
2000-01-03  1135.841919
2000-01-04  1135.836914
2000-01-05  1135.831177
...                 ...
2013-12-27  1136.033936
2013-12-28  1136.030029
2013-12-29  1136.028564
2013-12-30  1136.037720
2013-12-31  1136.053711

[5114 rows x 1 columns]
35
            water_level  error
time
2000-01-01          NaN    NaN
2000-01-02          NaN    NaN
2000-01-03          NaN    NaN
2000-01-04          NaN    NaN
2000-01-05          NaN    NaN
...                 ...    ...
2013-12-27          NaN    NaN
2013-12-28          NaN    NaN
2013-12-29          NaN    NaN
2013-12-30     1135.294    0.0
2013-12-31          NaN    NaN

[5114 rows x 2 columns]
                ele_sim
time
2000-01-01  1135.834961
2000-01-02  1135.816528
2000-01-03  1135.800293
2000-01-04  1135.781982
2000-01-05  1135.763062
...                 ...
2013-12-27  1133.409302
2013-12-28  1133.405762
2013-12-29  1133.404419
2013-12-30  1133.412842
2013-12-31  1133.427979

[5114 rows x 1 columns]
36

            water_level  error
time
2000-01-01          NaN    NaN
2000-01-02          NaN    NaN
2000-01-03          NaN    NaN
2000-01-04          NaN    NaN
2000-01-05          NaN    NaN
...                 ...    ...
2013-12-27          NaN    NaN
2013-12-28          NaN    NaN
2013-12-29          NaN    NaN
2013-12-30     1135.294    0.0
2013-12-31          NaN    NaN

[5114 rows x 2 columns]
                ele_sim
time
2000-01-01  1135.851074
2000-01-02  1135.848511
2000-01-03  1135.847534
2000-01-04  1135.844604
2000-01-05  1135.840942
...                 ...
2013-12-27  1138.193359
2013-12-28  1138.189941
2013-12-29  1138.188721
2013-12-30  1138.195557
2013-12-31  1138.208496

[5114 rows x 1 columns]
37
            water_level  error
time
2000-01-01          NaN    NaN
2000-01-02          NaN    NaN
2000-01-03          NaN    NaN
2000-01-04          NaN    NaN
2000-01-05          NaN    NaN
...                 ...    ...
2013-12-27          NaN    NaN
2013-12-28          NaN    NaN
2013-12-29          NaN    NaN
2013-12-30     1135.294    0.0
2013-12-31          NaN    NaN

[5114 rows x 2 columns]
                ele_sim
time
2000-01-01  1135.850098
2000-01-02  1135.846680
2000-01-03  1135.846191
2000-01-04  1135.842651
2000-01-05  1135.838135
...                 ...
2013-12-27  1143.979736
2013-12-28  1143.976685
2013-12-29  1143.976196
2013-12-30  1143.989380
2013-12-31  1144.010376

[5114 rows x 1 columns]
38
            water_level  error
time
2000-01-01          NaN    NaN
2000-01-02          NaN    NaN
2000-01-03          NaN    NaN
2000-01-04          NaN    NaN
2000-01-05          NaN    NaN
...                 ...    ...
2013-12-27          NaN    NaN
2013-12-28          NaN    NaN
2013-12-29          NaN    NaN
2013-12-30     1135.294    0.0
2013-12-31          NaN    NaN

[5114 rows x 2 columns]
                ele_sim
time
2000-01-01  1135.848633
2000-01-02  1135.843750
2000-01-03  1135.841553
2000-01-04  1135.836670
2000-01-05  1135.830566
...                 ...
2013-12-27  1136.866943
2013-12-28  1136.862671
2013-12-29  1136.861084
2013-12-30  1136.872192
2013-12-31  1136.890991

[5114 rows x 1 columns]
39
            water_level  error
time
2000-01-01          NaN    NaN
2000-01-02          NaN    NaN
2000-01-03          NaN    NaN
2000-01-04          NaN    NaN
2000-01-05          NaN    NaN
...                 ...    ...
2013-12-27          NaN    NaN
2013-12-28          NaN    NaN
2013-12-29          NaN    NaN
2013-12-30     1135.294    0.0
2013-12-31          NaN    NaN

[5114 rows x 2 columns]
                ele_sim
time
2000-01-01  1135.853516
2000-01-02  1135.853516
2000-01-03  1135.855347
2000-01-04  1135.855225
2000-01-05  1135.854126
...                 ...
2013-12-27  1149.873169
2013-12-28  1149.871704
2013-12-29  1149.872192
2013-12-30  1149.881958
2013-12-31  1149.898804

[5114 rows x 1 columns]
40
            water_level  error
time
2000-01-01          NaN    NaN
2000-01-02          NaN    NaN
2000-01-03          NaN    NaN
2000-01-04          NaN    NaN
2000-01-05          NaN    NaN
...                 ...    ...
2013-12-27          NaN    NaN
2013-12-28          NaN    NaN
2013-12-29          NaN    NaN
2013-12-30     1135.294    0.0
2013-12-31          NaN    NaN

[5114 rows x 2 columns]
                ele_sim
time
2000-01-01  1135.852051
2000-01-02  1135.850586
2000-01-03  1135.852295
2000-01-04  1135.851074
2000-01-05  1135.848755
...                 ...
2013-12-27  1141.816040
2013-12-28  1141.811890
2013-12-29  1141.809937
2013-12-30  1141.822266
2013-12-31  1141.843506

[5114 rows x 1 columns]
41
            water_level  error
time
2000-01-01          NaN    NaN
2000-01-02          NaN    NaN
2000-01-03          NaN    NaN
2000-01-04          NaN    NaN
2000-01-05          NaN    NaN
...                 ...    ...
2013-12-27          NaN    NaN
2013-12-28          NaN    NaN
2013-12-29          NaN    NaN
2013-12-30     1135.294    0.0
2013-12-31          NaN    NaN

[5114 rows x 2 columns]
                ele_sim
time
2000-01-01  1135.848633
2000-01-02  1135.843872
2000-01-03  1135.841309
2000-01-04  1135.836060
2000-01-05  1135.829956
...                 ...
2013-12-27  1136.048096
2013-12-28  1136.044067
2013-12-29  1136.042725
2013-12-30  1136.052734
2013-12-31  1136.069580

[5114 rows x 1 columns]
42
            water_level  error
time
2000-01-01          NaN    NaN
2000-01-02          NaN    NaN
2000-01-03          NaN    NaN
2000-01-04          NaN    NaN
2000-01-05          NaN    NaN
...                 ...    ...
2013-12-27          NaN    NaN
2013-12-28          NaN    NaN
2013-12-29          NaN    NaN
2013-12-30     1135.294    0.0
2013-12-31          NaN    NaN

[5114 rows x 2 columns]
                ele_sim
time
2000-01-01  1135.839355
2000-01-02  1135.825195
2000-01-03  1135.813477
2000-01-04  1135.799438
2000-01-05  1135.784668
...                 ...
2013-12-27  1134.071533
2013-12-28  1134.067993
2013-12-29  1134.066772
2013-12-30  1134.076172
2013-12-31  1134.093018

[5114 rows x 1 columns]
43
            water_level  error
time
2000-01-01          NaN    NaN
2000-01-02          NaN    NaN
2000-01-03          NaN    NaN
2000-01-04          NaN    NaN
2000-01-05          NaN    NaN
...                 ...    ...
2013-12-27          NaN    NaN
2013-12-28          NaN    NaN
2013-12-29          NaN    NaN
2013-12-30     1135.294    0.0
2013-12-31          NaN    NaN

[5114 rows x 2 columns]
                ele_sim
time
2000-01-01  1135.848267
2000-01-02  1135.842773
2000-01-03  1135.838745
2000-01-04  1135.833008
2000-01-05  1135.826538
...                 ...
2013-12-27  1134.503540
2013-12-28  1134.500000
2013-12-29  1134.498535
2013-12-30  1134.504272
2013-12-31  1134.515991

[5114 rows x 1 columns]
44
            water_level  error
time
2000-01-01          NaN    NaN
2000-01-02          NaN    NaN
2000-01-03          NaN    NaN
2000-01-04          NaN    NaN
2000-01-05          NaN    NaN
...                 ...    ...
2013-12-27          NaN    NaN
2013-12-28          NaN    NaN
2013-12-29          NaN    NaN
2013-12-30     1135.294    0.0
2013-12-31          NaN    NaN

[5114 rows x 2 columns]
                ele_sim
time
2000-01-01  1135.829224
2000-01-02  1135.805176
2000-01-03  1135.783691
2000-01-04  1135.760254
2000-01-05  1135.736206
...                 ...
2013-12-27  1133.509399
2013-12-28  1133.506104
2013-12-29  1133.505005
2013-12-30  1133.513672
2013-12-31  1133.529419

[5114 rows x 1 columns]
45
            water_level  error
time
2000-01-01          NaN    NaN
2000-01-02          NaN    NaN
2000-01-03          NaN    NaN
2000-01-04          NaN    NaN
2000-01-05          NaN    NaN
...                 ...    ...
2013-12-27          NaN    NaN
2013-12-28          NaN    NaN
2013-12-29          NaN    NaN
2013-12-30     1135.294    0.0
2013-12-31          NaN    NaN

[5114 rows x 2 columns]
                ele_sim
time
2000-01-01  1135.851562
2000-01-02  1135.849609
2000-01-03  1135.850464
2000-01-04  1135.848633
2000-01-05  1135.845703
...                 ...
2013-12-27  1140.425049
2013-12-28  1140.420898
2013-12-29  1140.419067
2013-12-30  1140.430176
2013-12-31  1140.449463

[5114 rows x 1 columns]
46
            water_level  error
time
2000-01-01          NaN    NaN
2000-01-02          NaN    NaN
2000-01-03          NaN    NaN
2000-01-04          NaN    NaN
2000-01-05          NaN    NaN
...                 ...    ...
2013-12-27          NaN    NaN
2013-12-28          NaN    NaN
2013-12-29          NaN    NaN
2013-12-30     1135.294    0.0
2013-12-31          NaN    NaN

[5114 rows x 2 columns]
                ele_sim
time
2000-01-01  1135.849731
2000-01-02  1135.846069
2000-01-03  1135.845215
2000-01-04  1135.841431
2000-01-05  1135.836670
...                 ...
2013-12-27  1138.776489
2013-12-28  1138.772217
2013-12-29  1138.770508
2013-12-30  1138.782227
2013-12-31  1138.801880

[5114 rows x 1 columns]
47
            water_level  error
time
2000-01-01          NaN    NaN
2000-01-02          NaN    NaN
2000-01-03          NaN    NaN
2000-01-04          NaN    NaN
2000-01-05          NaN    NaN
...                 ...    ...
2013-12-27          NaN    NaN
2013-12-28          NaN    NaN
2013-12-29          NaN    NaN
2013-12-30     1135.294    0.0
2013-12-31          NaN    NaN

[5114 rows x 2 columns]
                ele_sim
time
2000-01-01  1135.838135
2000-01-02  1135.822876
2000-01-03  1135.810669
2000-01-04  1135.795654
2000-01-05  1135.779663
...                 ...
2013-12-27  1133.788208
2013-12-28  1133.784302
2013-12-29  1133.782837
2013-12-30  1133.794678
2013-12-31  1133.814453

[5114 rows x 1 columns]
48

            water_level  error
time
2000-01-01          NaN    NaN
2000-01-02          NaN    NaN
2000-01-03          NaN    NaN
2000-01-04          NaN    NaN
2000-01-05          NaN    NaN
...                 ...    ...
2013-12-27          NaN    NaN
2013-12-28          NaN    NaN
2013-12-29          NaN    NaN
2013-12-30     1135.294    0.0
2013-12-31          NaN    NaN

[5114 rows x 2 columns]
                ele_sim
time
2000-01-01  1135.851929
2000-01-02  1135.850220
2000-01-03  1135.849976
2000-01-04  1135.847900
2000-01-05  1135.845215
...                 ...
2013-12-27  1138.631470
2013-12-28  1138.628174
2013-12-29  1138.626953
2013-12-30  1138.632812
2013-12-31  1138.645142

[5114 rows x 1 columns]
49
            water_level  error
time
2000-01-01          NaN    NaN
2000-01-02          NaN    NaN
2000-01-03          NaN    NaN
2000-01-04          NaN    NaN
2000-01-05          NaN    NaN
...                 ...    ...
2013-12-27          NaN    NaN
2013-12-28          NaN    NaN
2013-12-29          NaN    NaN
2013-12-30     1135.294    0.0
2013-12-31          NaN    NaN

[5114 rows x 2 columns]
                ele_sim
time
2000-01-01  1135.843872
2000-01-02  1135.834106
2000-01-03  1135.826172
2000-01-04  1135.816406
2000-01-05  1135.805786
...                 ...
2013-12-27  1134.290161
2013-12-28  1134.286743
2013-12-29  1134.285278
2013-12-30  1134.292603
2013-12-31  1134.306763

[5114 rows x 1 columns]
50
            water_level  error
time
2000-01-01          NaN    NaN
2000-01-02          NaN    NaN
2000-01-03          NaN    NaN
2000-01-04          NaN    NaN
2000-01-05          NaN    NaN
...                 ...    ...
2013-12-27          NaN    NaN
2013-12-28          NaN    NaN
2013-12-29          NaN    NaN
2013-12-30     1135.294    0.0
2013-12-31          NaN    NaN

[5114 rows x 2 columns]
                ele_sim
time
2000-01-01  1135.850708
2000-01-02  1135.847778
2000-01-03  1135.846313
2000-01-04  1135.843140
2000-01-05  1135.839111
...                 ...
2013-12-27  1136.566406
2013-12-28  1136.562988
2013-12-29  1136.561401
2013-12-30  1136.567749
2013-12-31  1136.580322

[5114 rows x 1 columns]
51
            water_level  error
time
2000-01-01          NaN    NaN
2000-01-02          NaN    NaN
2000-01-03          NaN    NaN
2000-01-04          NaN    NaN
2000-01-05          NaN    NaN
...                 ...    ...
2013-12-27          NaN    NaN
2013-12-28          NaN    NaN
2013-12-29          NaN    NaN
2013-12-30     1135.294    0.0
2013-12-31          NaN    NaN

[5114 rows x 2 columns]
                ele_sim
time
2000-01-01  1135.845825
2000-01-02  1135.838013
2000-01-03  1135.831787
2000-01-04  1135.823486
2000-01-05  1135.814575
...                 ...
2013-12-27  1132.841431
2013-12-28  1132.837769
2013-12-29  1132.836426
2013-12-30  1132.842773
2013-12-31  1132.854980

[5114 rows x 1 columns]
52
            water_level  error
time
2000-01-01          NaN    NaN
2000-01-02          NaN    NaN
2000-01-03          NaN    NaN
2000-01-04          NaN    NaN
2000-01-05          NaN    NaN
...                 ...    ...
2013-12-27          NaN    NaN
2013-12-28          NaN    NaN
2013-12-29          NaN    NaN
2013-12-30     1135.294    0.0
2013-12-31          NaN    NaN

[5114 rows x 2 columns]
                ele_sim
time
2000-01-01  1135.852539
2000-01-02  1135.851562
2000-01-03  1135.853271
2000-01-04  1135.852295
2000-01-05  1135.850342
...                 ...
2013-12-27  1142.881958
2013-12-28  1142.878052
2013-12-29  1142.876343
2013-12-30  1142.887207
2013-12-31  1142.906128

[5114 rows x 1 columns]
53
            water_level  error
time
2000-01-01          NaN    NaN
2000-01-02          NaN    NaN
2000-01-03          NaN    NaN
2000-01-04          NaN    NaN
2000-01-05          NaN    NaN
...                 ...    ...
2013-12-27          NaN    NaN
2013-12-28          NaN    NaN
2013-12-29          NaN    NaN
2013-12-30     1135.294    0.0
2013-12-31          NaN    NaN

[5114 rows x 2 columns]
                ele_sim
time
2000-01-01  1135.847412
2000-01-02  1135.841309
2000-01-03  1135.836426
2000-01-04  1135.829834
2000-01-05  1135.822510
...                 ...
2013-12-27  1133.719116
2013-12-28  1133.715576
2013-12-29  1133.714111
2013-12-30  1133.720093
2013-12-31  1133.731812

[5114 rows x 1 columns]
54
            water_level  error
time
2000-01-01          NaN    NaN
2000-01-02          NaN    NaN
2000-01-03          NaN    NaN
2000-01-04          NaN    NaN
2000-01-05          NaN    NaN
...                 ...    ...
2013-12-27          NaN    NaN
2013-12-28          NaN    NaN
2013-12-29          NaN    NaN
2013-12-30     1135.294    0.0
2013-12-31          NaN    NaN

[5114 rows x 2 columns]
                ele_sim
time
2000-01-01  1135.851440
2000-01-02  1135.849365
2000-01-03  1135.849609
2000-01-04  1135.847412
2000-01-05  1135.844238
...                 ...
2013-12-27  1139.885010
2013-12-28  1139.881104
2013-12-29  1139.879517
2013-12-30  1139.888916
2013-12-31  1139.905762

[5114 rows x 1 columns]
55
            water_level  error
time
2000-01-01          NaN    NaN
2000-01-02          NaN    NaN
2000-01-03          NaN    NaN
2000-01-04          NaN    NaN
2000-01-05          NaN    NaN
...                 ...    ...
2013-12-27          NaN    NaN
2013-12-28          NaN    NaN
2013-12-29          NaN    NaN
2013-12-30     1135.294    0.0
2013-12-31          NaN    NaN

[5114 rows x 2 columns]
                ele_sim
time
2000-01-01  1135.835083
2000-01-02  1135.817017
2000-01-03  1135.801392
2000-01-04  1135.783081
2000-01-05  1135.764038
...                 ...
2013-12-27  1132.832275
2013-12-28  1132.828003
2013-12-29  1132.826538
2013-12-30  1132.837280
2013-12-31  1132.855225

[5114 rows x 1 columns]
56
            water_level  error
time
2000-01-01          NaN    NaN
2000-01-02          NaN    NaN
2000-01-03          NaN    NaN
2000-01-04          NaN    NaN
2000-01-05          NaN    NaN
...                 ...    ...
2013-12-27          NaN    NaN
2013-12-28          NaN    NaN
2013-12-29          NaN    NaN
2013-12-30     1135.294    0.0
2013-12-31          NaN    NaN

[5114 rows x 2 columns]
                ele_sim
time
2000-01-01  1135.837280
2000-01-02  1135.821045
2000-01-03  1135.807373
2000-01-04  1135.791260
2000-01-05  1135.774292
...                 ...
2013-12-27  1133.414429
2013-12-28  1133.410522
2013-12-29  1133.409180
2013-12-30  1133.418945
2013-12-31  1133.436035

[5114 rows x 1 columns]
57
            water_level  error
time
2000-01-01          NaN    NaN
2000-01-02          NaN    NaN
2000-01-03          NaN    NaN
2000-01-04          NaN    NaN
2000-01-05          NaN    NaN
...                 ...    ...
2013-12-27          NaN    NaN
2013-12-28          NaN    NaN
2013-12-29          NaN    NaN
2013-12-30     1135.294    0.0
2013-12-31          NaN    NaN

[5114 rows x 2 columns]
                ele_sim
time
2000-01-01  1135.834595
2000-01-02  1135.815918
2000-01-03  1135.799927
2000-01-04  1135.781372
2000-01-05  1135.761963
...                 ...
2013-12-27  1133.295410
2013-12-28  1133.291626
2013-12-29  1133.290161
2013-12-30  1133.300781
2013-12-31  1133.318970

[5114 rows x 1 columns]
58
            water_level  error
time
2000-01-01          NaN    NaN
2000-01-02          NaN    NaN
2000-01-03          NaN    NaN
2000-01-04          NaN    NaN
2000-01-05          NaN    NaN
...                 ...    ...
2013-12-27          NaN    NaN
2013-12-28          NaN    NaN
2013-12-29          NaN    NaN
2013-12-30     1135.294    0.0
2013-12-31          NaN    NaN

[5114 rows x 2 columns]
                ele_sim
time
2000-01-01  1135.841309
2000-01-02  1135.829224
2000-01-03  1135.820190
2000-01-04  1135.808472
2000-01-05  1135.795532
...                 ...
2013-12-27  1134.440552
2013-12-28  1134.436890
2013-12-29  1134.435425
2013-12-30  1134.447632
2013-12-31  1134.468140

[5114 rows x 1 columns]
59
            water_level  error
time
2000-01-01          NaN    NaN
2000-01-02          NaN    NaN
2000-01-03          NaN    NaN
2000-01-04          NaN    NaN
2000-01-05          NaN    NaN
...                 ...    ...
2013-12-27          NaN    NaN
2013-12-28          NaN    NaN
2013-12-29          NaN    NaN
2013-12-30     1135.294    0.0
2013-12-31          NaN    NaN

[5114 rows x 2 columns]
                ele_sim
time
2000-01-01  1135.850708
2000-01-02  1135.847656
2000-01-03  1135.846191
2000-01-04  1135.842896
2000-01-05  1135.838867
...                 ...
2013-12-27  1136.438477
2013-12-28  1136.435059
2013-12-29  1136.433594
2013-12-30  1136.439575
2013-12-31  1136.451782

[5114 rows x 1 columns]
60

            water_level  error
time
2000-01-01          NaN    NaN
2000-01-02          NaN    NaN
2000-01-03          NaN    NaN
2000-01-04          NaN    NaN
2000-01-05          NaN    NaN
...                 ...    ...
2013-12-27          NaN    NaN
2013-12-28          NaN    NaN
2013-12-29          NaN    NaN
2013-12-30     1135.294    0.0
2013-12-31          NaN    NaN

[5114 rows x 2 columns]
                ele_sim
time
2000-01-01  1135.844727
2000-01-02  1135.835938
2000-01-03  1135.830444
2000-01-04  1135.822144
2000-01-05  1135.812500
...                 ...
2013-12-27  1134.968262
2013-12-28  1134.964478
2013-12-29  1134.962891
2013-12-30  1134.975464
2013-12-31  1134.996826

[5114 rows x 1 columns]
61
            water_level  error
time
2000-01-01          NaN    NaN
2000-01-02          NaN    NaN
2000-01-03          NaN    NaN
2000-01-04          NaN    NaN
2000-01-05          NaN    NaN
...                 ...    ...
2013-12-27          NaN    NaN
2013-12-28          NaN    NaN
2013-12-29          NaN    NaN
2013-12-30     1135.294    0.0
2013-12-31          NaN    NaN

[5114 rows x 2 columns]
                ele_sim
time
2000-01-01  1135.843018
2000-01-02  1135.832520
2000-01-03  1135.823364
2000-01-04  1135.812500
2000-01-05  1135.800903
...                 ...
2013-12-27  1133.317871
2013-12-28  1133.314331
2013-12-29  1133.312988
2013-12-30  1133.319092
2013-12-31  1133.331177

[5114 rows x 1 columns]
62
            water_level  error
time
2000-01-01          NaN    NaN
2000-01-02          NaN    NaN
2000-01-03          NaN    NaN
2000-01-04          NaN    NaN
2000-01-05          NaN    NaN
...                 ...    ...
2013-12-27          NaN    NaN
2013-12-28          NaN    NaN
2013-12-29          NaN    NaN
2013-12-30     1135.294    0.0
2013-12-31          NaN    NaN

[5114 rows x 2 columns]
                ele_sim
time
2000-01-01  1135.828247
2000-01-02  1135.803223
2000-01-03  1135.780884
2000-01-04  1135.756470
2000-01-05  1135.731445
...                 ...
2013-12-27  1133.365234
2013-12-28  1133.361816
2013-12-29  1133.360596
2013-12-30  1133.370483
2013-12-31  1133.387939

[5114 rows x 1 columns]
63
            water_level  error
time
2000-01-01          NaN    NaN
2000-01-02          NaN    NaN
2000-01-03          NaN    NaN
2000-01-04          NaN    NaN
2000-01-05          NaN    NaN
...                 ...    ...
2013-12-27          NaN    NaN
2013-12-28          NaN    NaN
2013-12-29          NaN    NaN
2013-12-30     1135.294    0.0
2013-12-31          NaN    NaN

[5114 rows x 2 columns]
                ele_sim
time
2000-01-01  1135.837158
2000-01-02  1135.821045
2000-01-03  1135.807739
2000-01-04  1135.791626
2000-01-05  1135.774658
...                 ...
2013-12-27  1133.424438
2013-12-28  1133.420166
2013-12-29  1133.418701
2013-12-30  1133.430298
2013-12-31  1133.449585

[5114 rows x 1 columns]
64